In [1]:
import pandas as pd
import numpy as np
from pandas_profiling import ProfileReport

In [2]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\prashant\anaconda3\lib\site-packages (1.0.2)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pymysql

In [22]:
df = pd.read_csv("C:\DATASET\crop_production.csv")
df.head()

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321.0
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0

In [23]:
df.describe()

           Crop_Year          Area    Production
count  246091.000000  2.460910e+05  2.423610e+05
mean     2005.643018  1.200282e+04  5.825034e+05
std         4.952164  5.052340e+04  1.706581e+07
min      1997.000000  4.000000e-02  0.000000e+00
25%      2002.000000  8.000000e+01  8.800000e+01
50%      2006.000000  5.820000e+02  7.290000e+02
75%      2010.000000  4.392000e+03  7.023000e+03
max      2015.000000  8.580100e+06  1.250800e+09

In [24]:
df.count()

State_Name       246091
District_Name    246091
Crop_Year        246091
Season           246091
Crop             246091
Area             246091
Production       242361
dtype: int64

In [25]:
df.value_counts()

State_Name                   District_Name   Crop_Year  Season       Crop               Area     Production
Andaman and Nicobar Islands  NICOBARS        2000       Kharif       Arecanut           1254.0   2000.0        1
Punjab                       SANGRUR         2011       Rabi         Barley             2000.0   9000.0        1
                                             2010       Kharif       Bajra              1000.0   1000.0        1
                                                                     Cotton(lint)       11000.0  36000.0       1
                                                                     Moong(Green Gram)  800.0    700.0         1
                                                                                                              ..
Karnataka                    CHAMARAJANAGAR  2004       Whole Year   Potato             13.0     80.0          1
                                                                     Tobacco            100.0    74.0          1
                                                                     Turmeric           1417.0   6316.0        1
                                             2005       Kharif       Arhar/Tur          1850.0   1019.0        1
West Bengal                  PURULIA         2014       Winter       Sesamum            175.0    88.0          1
Length: 242361, dtype: int64

In [37]:
df["Production"].isnull().sum()

0

In [36]:
df["Production"]=df["Production"].fillna(0)

In [39]:
df.count()

State_Name       246091
District_Name    246091
Crop_Year        246091
Season           246091
Crop             246091
Area             246091
Production       246091
dtype: int64

In [43]:
pwd

'C:\\Users\\PRASHANT\\FSDS PYTHON\\CROP_DATA_ANALAYZE'

In [49]:
df.to_csv("finalcrop.csv",index = False)

In [50]:
df.to_excel("finalcrop.xlsx")

In [5]:
conn=pymysql.connect(host='localhost',port=int(3306),user='root',passwd='pratham#@6568',db='crop_analyze')